
/**
 Custom Scrollbar
 */

::-webkit-scrollbar {
    width: 15px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: theme('colors.gray.200');
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: theme('colors.gray.400');
    border-radius: 15px;
    transition: all 500ms;
}

::-webkit-scrollbar-thumb:hover {
    background-color:  theme('colors.primary.600');
    cursor: pointer;
}